.center-img {
	position: relative;
	height: 100px;
	img {
		position: absolute;
		top: 0;
		bottom: 0;
		right: 0;
		left: 0;
		margin: auto;
	}
}

.animated {
  animation-duration: 2s;
  animation-fill-mode: both;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

.fadeInUp {
  animation-name: fadeInUp;
}

.panel-warning>.panel-heading, .panel-footer {
  background-color: #fceeee !important;
  border-color: #fceeee !important;
}

.astrolist {
  a:hover {
    text-decoration: none;
  }
  a:hover .panel {
    opacity: 0.8;
  }
}